@model Progra_Avanzada_Proyecto.Models.RegisterViewModel

@{
    ViewBag.Title = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="~/image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>RyR Gastronomía sin Límites</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" style="background-image: url('@Url.Content("~/images/pages/1.jpg")')">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="text-center m-b-30">
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="@Url.Content("~/images/ryrlogo.png")" alt="Polo Logo">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 center p-40 background-white b-r-6">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-transparent-grey", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Registro de Nueva Cuenta</h3>
                                        <p>Crea una cuenta ingresando la información a continuación. Si ya eres cliente, por favor inicia sesión en la parte superior de la página.</p>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.LabelFor(m => m.NombreUsuario, new { @class = "sr-only" })
                                        @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", placeholder = "Nombre de usuario" })
                                        @Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.LabelFor(m => m.Contrasenna, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control", placeholder = "Contraseña" })
                                        @Html.ValidationMessageFor(m => m.Contrasenna, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.LabelFor(m => m.ConfirmarContrasenna, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.ConfirmarContrasenna, new { @class = "form-control", placeholder = "Confirmar contraseña" })
                                        @Html.ValidationMessageFor(m => m.ConfirmarContrasenna, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <button class="btn" type="submit">Registrar Nueva Cuenta</button>
                                        <button type="button" class="btn btn-danger m-l-10" onclick="location.href='@Url.Action("Index", "Home")'">Cancelar</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>