@model List<Progra_Avanzada_Proyecto.Models.ProductosViewModel>
@{
    ViewBag.Title = "Productos";
}
<main aria-labelledby="title">
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Page Content -->
        <section id="page-content" class="no-sidebar">
            <div class="container">
                <!-- DataTable -->
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <h4>Administración de productos</h4>
                        <a href="@Url.Action("Create", "Productos")" class="btn-link">
                            <button type="button" class="btn btn-light">
                                <i class="icon-plus"></i> Añadir producto
                            </button>
                        </a>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="p-dropdown ml-3 float-right">
                            <div class="p-dropdown-content">
                                <ul>
                            </div>
                        </div>
                        <div id="export_buttons" class="mt-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>Tipo</th>
                                    <th>Precio</th>
                                    <th>Disponibilidad</th>
                                    <th class="noExport">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null && !Model.Any()) // Verifica si no hay productos
                                {
                                    <tr>
                                        <td colspan="5">@ViewBag.NoData</td> 
                                    </tr>
                                }
                                else
                                {
                                    foreach (var producto in Model)
                                    {
                            <tr>
                                <td>@producto.Descripcion</td>
                                <td>@producto.Tipo</td>
                                <td>@producto.Precio</td>
                                <td>@(producto.Disponibilidad ? "Sí" : "No")</td>
                                <td>
                                    <a class="ml-2" href="@Url.Action("Edit", "Productos", new { id = producto.ID })" data-toggle="tooltip" data-original-title="Edit"><i class="icon-edit"></i></a>
                                    <a class="ml-2" href="@Url.Action("Delete", "Productos", new { id = producto.ID })" data-toggle="tooltip" data-original-title="Delete"><i class="icon-trash-2"></i></a>

                                </td>
                            </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: DataTable -->
            </div>
        </section>
        <!-- end: Page Content -->
    </div> <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Popover plugin files-->
    <script src="plugins/popper/popper.min.js"></script>

    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>

    <!--Datatables plugin files-->
    <script src='plugins/datatables/datatables.min.js'></script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                buttons: [{
                    extend: 'print',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'pdf',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'excel',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'csv',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'copy',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }]
            });
            table.buttons().container().appendTo('#export_buttons');
            $("#export_buttons .btn").removeClass('btn-secondary').addClass('btn-light');
        });
    </script>
</main>