@model Progra_Avanzada_Proyecto.Models.EventosViewModel

@{
    ViewBag.Title = "Editar Eventos";
}

<main aria-labelledby="title">
    <div class="body-inner">
        <section class="fullscreen" style="background-image: url(~/images/pages/1.jpg)">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="col-lg-7 center p-30 background-white b-r-6">
                            <div class="col-lg-12 m-t-20 text-center">
                                <h3>Editar Empleado</h3>
                                <p>Modifica la información del empleado a continuación.</p>
                            </div>

                            @using (Html.BeginForm("Edit", "Eventos", FormMethod.Post, new { id = "editEventosForm" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(model => model.ID)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fecha)
                                    @Html.TextBoxFor(model => model.Fecha, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Fecha", type = "date" })
                                    @Html.ValidationMessageFor(model => model.Fecha)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Hora)
                                    @Html.TextBoxFor(model => model.Hora, "{0:HH:mm}", new { @class = "form-control", placeholder = "Hora", type = "time" })
                                    @Html.ValidationMessageFor(model => model.Hora)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ubicacion)
                                    @Html.TextBoxFor(model => model.Ubicacion, new { @class = "form-control", placeholder = "Ubicacion" })
                                    @Html.ValidationMessageFor(model => model.Ubicacion)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tipo)
                                    @Html.TextBoxFor(model => model.Tipo, new { @class = "form-control", placeholder = "Tipo" })
                                    @Html.ValidationMessageFor(model => model.Tipo)
                                </div>
                            
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    <a href="@Url.Action("Index", "Eventos")" class="btn btn-link">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
</main>
