@model List<Progra_Avanzada_Proyecto.Models.EventosViewModel>

@{
    ViewBag.Title = "Eventos";
}

<main aria-labelledby="title">
    <div class="body-inner">
        <section id="page-content" class="no-sidebar">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <h4>Administración de eventos</h4>
                        <a href="@Url.Action("Create", "Eventos")" class="btn-link">
                            <button type="button" class="btn btn-light">
                                <i class="icon-plus"></i> Añadir evento
                            </button>
                        </a>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div id="export_buttons" class="mt-2"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Ubicación</th>
                                    <th>Tipo</th>
                                    <th>Cliente</th>
                                    <th>Empleado</th>
                                    <th class="noExport">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var evento in Model)
        {
                                <tr>
                                    <td>@evento.Fecha.ToString("yyyy/MM/dd")</td>
                                    <td>@evento.Hora.ToString(@"hh\:mm")</td>
                                    <td>@evento.Ubicacion</td>
                                    <td>@evento.Tipo</td>
                                    <td>@evento.Cliente.Nombre</td>
                                    <td>@evento.Empleado.Nombre</td>
                                </tr>
        }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>


    <!--Popover plugin files-->
    <script src="~/plugins/popper/popper.min.js"></script>

    <!--Datatables plugin files-->
    <script src='~/plugins/datatables/datatables.min.js'></script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                buttons: [{
                    extend: 'print',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'pdf',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'excel',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'csv',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }, {
                    extend: 'copy',
                    title: 'Test Data export',
                    exportOptions: {
                        columns: "thead th:not(.noExport)"
                    }
                }]
            });
            table.buttons().container().appendTo('#export_buttons');
            $("#export_buttons .btn").removeClass('btn-secondary').addClass('btn-light');
        });
    </script>
</main>