<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - R&R Catering Service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>RyR Gastronomía sin Límites</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header" data-transparent="false" data-fullwidth="true" class="dark submenu-light">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a href="index.html">
                        <span class="logo-dark">R&R Catering Service</span>
                    </a>
                </div>
                <!--End: Logo-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger">
                    <a class="lines-button x"><span class="lines"></span></a>
                </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->

                <div id="mainMenu">
                    <div class="container">
                        <nav>
                            <ul>
                                <!-- Enlaces comunes a todos los usuarios -->
                                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                                <!-- Enlaces específicos para el administrador -->
                                @if (Session["Rol"] != null && Session["Rol"].ToString() == "Admin")
                                {
                                    <li>@Html.ActionLink("Empleados", "Empleados", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Eventos", "Eventos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Clientes", "Clientes", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Inventario", "Inventario", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Productos", "Productos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Cerrar sesión", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                                }

                                <!-- Enlaces para usuarios autenticados -->
                                @if (Session["Rol"] != null && Session["Rol"].ToString() == "User")
                                {
                                    <li>@Html.ActionLink("Solicitar evento", "Productos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Cerrar sesión", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                                }
                                @if (Session["Rol"] == null)
                                {
                                    <li>@Html.ActionLink("Iniciar sesión", "Index", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--end: Navigation-->
            </div>
    </header>
    @RenderBody()

    <footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="widget-title">Contáctanos</div>
                        <p>Puedes encontrarnos en:</p>
                        <p>Tacares, Grecia, Alajuela, Costa Rica<br>Teléfono:+506 8507 3503<br>Email: r.rcatering@ryrcateringservice.com</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="widget-title">Redes Sociales</div>
                        <ul class="list">
                            <li><a href="https://www.instagram.com/ryrgastronomia_/?hl=es">Instagram</a></li>
                            <li><a href="https://es-la.facebook.com/RYRCateringService/">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2023 por RyR Gastronomía sin Límites. - Todos los derechos reservados.</div>
        </div>
    </div>
    </footer>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/functions.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
