@{
    ViewBag.Title = "Login";

}
@model Progra_Avanzada_Proyecto.Models.LoginViewModel

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="~/images/pages/1.jpg">
            <div class="container">
                <div class="text-center m-b-30">
                    <a href="index.html" class="logo">
                        <img src="~/images/logo-dark.png" alt="Polo Logo">
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-5 center p-50 background-white b-r-6">
                        <h3>Login to your Account</h3>
                        @using (Html.BeginForm("Loign", "Login", FormMethod.Post, new { id = "loginForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(m => m.NombreUsuario, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.NombreUsuario)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Contrasenna, new { @class = "sr-only" })
                                @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Contrasenna)
                            </div>
                            <div class="text-left form-group">
                                <button type="submit" class="btn">Login</button>
                            </div>
                        }
                        <p class="small">
                            Don't have an account yet? <a href="#">Register New Account</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>
    <!--Template functions-->
    <script src="~/js/functions.js"></script>
</body>

</html>